.root{
  position: relative;
}

.logo{
  background-image: url('images/prothomAlo-logo.png');
  display: block;
  height: 7vh;
  background-repeat: no-repeat;
  background-size: auto;
  background-position:center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content{
  border: 2px solid grey;
  display: grid;
  height: 65vh;
}

.footer{
  border: 2px solid blue;
  height: 20vh;
  display: block;
}

